body {
    background: rgba(231, 231, 231, 0.43);
}
.free-wall {
    margin: 15px;
}
.brick {
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
    width: 221.2px;
    background-color: white;
    border-radius: 5px;
}
.info {
    padding: 15px;
    color: #333;
}
.brick img {
    margin: 0px;
    padding: 0px;
    display: block;
}
.row{
    padding-left: 20px;
    padding-bottom: 10px;
}
#places-list{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column; /* works with row or column */
    flex-direction: column;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    width: 15%;
    min-width: 200px;
}
#places{

    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row
flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    width:100%;
    min-width: 200px;
}
#place-info{
    width: 15%;
    min-width: 200px;
}
.places-list-item{
    width: 100%;
}